#icono {
  padding-left: 20px;
  height: 4rem;
}

#titulo {
  font-family: "Roboto", sans-serif;
  font-size: 1.25rem;
  padding-left: 5px;
}

header {
  position: sticky;
  top: 0;
  z-index: 999;
  width: 100%;
}

table.default tr:not(:nth-child(1)):not(:nth-child(2)) {
  display: none;
}

.container {
  text-align: center;
}

#encabezadoIndicadores {
  font-size: 22px;
  font-weight: bold;
  color: #333;
  text-align: center;
  margin-bottom: 20px;
}

.navbar {
    background-color: #2a75a1 !important;
    color: white !important;
}

.nav-link {
    color: white !important;
}